$plomo:#363636;
$gris:#8c8c8c;
$crema:#B2CFDF;

.background {
	margin-bottom:8%;
    position: relative;
    z-index: 1;  
    font-family: "Lustria";
    color: $plomo;
    &:before {
        border:0;
        height: 2px;
        background: linear-gradient(to right, transparent, $crema, transparent);
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }
    span { 
        background: #fff; 
        padding: 0 15px; 
    }
}

.navbar{
	position: fixed;
	z-index: 3;
	background: transparent;
	border: none;
	font-family: "Lato";
	.navbar-toggle{
		margin-top:15px; 
		background: $plomo;
		border-color: $crema;
	}
	.in{
		border: none;
	}
	.navbar-collapse{
		border-color: none;
	}
	.container{
		img{
			width: 40px;
			margin-left:30px;
			padding-top: 15px;
		}
		.collapse{
			ul{
				li{
					a{
						color: #fff;
						padding-top: 25px;
					}
					a:hover{
						color: $crema;
					}
				}
			}
		}
	}
}
.navbar-shrink{
	background-color: $plomo;
	padding:0 0 10px 0;
}

#header{
	background-image: url(../images/01v.jpg);
	background-repeat: none;
	background-size: cover;
	background-attachment:scroll;
	background-position: center;
	background-position: 0 -80px;
	background-attachment: fixed;
	width: 100%;
	height: 630px;
	position: relative;
	min-height: 667px;
	@media (max-width: 1000px){
		background-position: bottom;
	}
	.contenido{
		background-color:rgba(0,0,0,0.1);
 		background-image: -moz-linear-gradient(top, #000, transparent);
 		background-image: -webkit-gradient(linear, left top,left bottom, from(#000), to(transparent));
 		background-image: linear-gradient(top, #000, transparent);
		width: 100%;
		height: 630px;
		position: relative;
		min-height: 667px;
		.caja{
			width: 100%;
			padding: 28% 0 0 6%;
			color: #fff;
			@media (max-width: 500px){
				padding: 65% 0 0 6%;
			}
			.hola{
				font-size: 1.5em;
				font-style: italic;
				font-family: "Lato";
				font-weight: 400;
				span{
					font-size: 1.55em;
				}
			}
			#maquinas{
				font-size: 290%;
				font-weight: 700;
				font-family: "Lustria";
			}
			p{
				font-size:16px;
				padding-top:10px;
				font-family: "Lato";
				font-weight: 400;
				text-shadow: 2px 2px 5px #000;
			}
		}
	}
}

#sobremi{
	padding: 10% 0 0 0; 
	img{ 
		margin:0 0 0 15%;
		width: 300px; 
		height: 300px; 		
		@media (max-width: 500px){
			margin:0;
		}
	}
	.yo{
		padding:5% 15% 0 0;
		font-family: "Lato";
		font-size: 18px;
		@media (max-width: 500px){
			padding: 20px;
		}
	}
	.skin{
		padding:10% 5% 0 5%;
		.fa{
			font-size: 30px;
			color: $plomo;
			padding: 30px;
			border: 2px solid $crema;
			border-radius: 15%;
		}
		.fa:hover{
			background-color: $crema;
		}
		p{
			margin-top: 40px;
			font-family: "Lato";	
			color: $plomo;
			font-size: 18px;
		}
	}
	.magic{
		visibility: visible;
		webkit-animation-delay:0s;
		moz-animation-delay:0s;
		animation-delay:0s;  
	}
	.user{
		visibility: visible;
		webkit-animation-delay:.2s;
		moz-animation-delay:.2s;
		animation-delay:.2s; 
	}
	.code{
		visibility: visible;
		webkit-animation-delay:.4s;
		moz-animation-delay:.4s;
		animation-delay:.4s;
	}
}

#habilidades{
	padding: 10% 0 0 0; 
	@media (max-width: 1024px){
				padding: 10% 5% 0 0;
			}
	.col-md-4{
		padding-left:30px;
		.col-xs-2{
			@media (max-width: 1024px){
				padding-left: 0;
			}
			img{
				width: 45px;
				padding-top: 21px;
			}
	}
	.col-xs-10{
		margin-bottom: 20%;
		padding:12px;
		background: $crema;
		font-family:"Lato";
		border-radius: 10px;
		h4{
			padding-bottom:10px;
			font-weight: 700;
		}
			.progress{
				height: 10px;
				.progress-bar{
					background-color: $plomo;
				}
			}
		}
	}
}

#portafolio{
	padding: 5% 0 0 0;
	.col-md-4{
		width: 370px;
		overflow:hidden;
		padding: 0;
		margin: 10px;
		margin-bottom:7%;
		@media (max-width: 1024px){
			width: 100%;
			margin:0 0 7% 0;
		}

		img{
			width: 100%;
			-webkit-transition:all .9s ease;
		}
		img:hover{
			-webkit-transform:scale(1.25);
			-moz-transform:scale(1.25);
			-ms-transform:scale(1.25);
			-o-transform:scale(1.25);
			transform:scale(1.25);
			filter: url('#grayscale'); 
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			filter: grayscale(100%); 
			filter: Gray(); 
		}
	}
}

#intereses{
	background: black;
	width: 100%;
	height: 200px;
	margin: 100px 0 100px 0;
	.carousel{
		.carousel-inner{
			.item{
				//background-image: url(../images/wallpapers.jpg);
				background-color: $plomo;
				width: 100%;
				height: 300px;
				.carousel-caption{
					width: 100%;
					height: 300px;
					font-size:26px;
					font-family: "Lustria";
					@media (max-width: 500px){
						font-size: 18px;

					}
					.avion{
						background-image: url(../images/textura/avion1.png);
						background-size: 70px;
						width: 100%;
						height: 300px;
						p{
							padding: 8% 20% 0 20%;
						}
					}
					.pelota{
						background-image: url(../images/textura/pelota1.png);
						background-size: 70px;
						width: 100%;
						height: 300px;
						p{
							padding-top: 9%;
						}
					}
					.huella{
						background-image: url(../images/textura/huella1.png);
						background-size: 70px;
						width: 100%;
						height: 300px;
						p{
							padding: 8% 20% 0 20%;
						}
					}
					.musica{
						background-image: url(../images/textura/musica1.png);
						background-size: 70px;
						width: 100%;
						height: 300px;
						p{
							padding: 8% 20% 0 20%;
						}
					}
					.planta{
						background-image: url(../images/textura/planta1.png);
						background-size: 70px;
						width: 100%;
						height: 300px;
						p{
							padding-top: 9%;
						}
					}
				}
			}
		}
	}
}

#contactame{
	padding: 10% 0 5% 0; 
	.redes{
		padding-bottom:4%;
		.fa{
			font-size:80px;
			margin: 0 20px;
			color: $crema;
		}
	}
	.text-center{
		a{
			color: $plomo;
			text-decoration: none;
			font-size:18px;
			.fa-envelope{
				color: $crema;
				font-size:70px;
				padding-bottom:10px;
			}
			.fa:hover{
				color: $plomo;
			}
		}	
	}
}

footer{
	padding: 3% 0; 
	background:$plomo;
	color: #fff;
}